.footer {
    padding: 60px 0;
    background-color: #2D343C;
    @include media-breakpoint-iPad-Pro {
        padding: 40px 0;
    }
}

.footer__list {
    display: grid;
    grid-template-columns: 135px 119px 119px 239px;
    justify-content: space-between;
    @include media-breakpoint-iPad {
        grid-template-columns: 135px 240px;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
}

.footer__item:nth-child(1) {
    @include media-breakpoint-iPad {
        order: 3;
    }
}

.footer__item:nth-child(2) {
    @include media-breakpoint-iPad {
        order: 1;
    }
}

.footer__item:nth-child(3) {
    @include media-breakpoint-iPad {
        order: 2;
    }
}

.footer__item:nth-child(4) {
    @include media-breakpoint-iPad {
        order: 4;
    }
    
}

.list {
    display: grid;
    gap: 15px;
    @include media-breakpoint-iPad-Pro {
        gap: 10px;
    }
}

.link {
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: 0.05em;
    transition: 0.1s;
    @include media-breakpoint-iPad-Pro {
        font-size: 1.2rem;
    }
    @include media-breakpoint-mobile-Plus {
        font-size: 1.1rem;
    }
    @include media-breakpoint-mobile {
        font-size: 0.8rem;
    }
}

.link:hover {
    text-decoration: underline;
    @include media-breakpoint-iPad-Pro {
        text-decoration: none;
    }
}

.link-icon {
    margin-left: 20px;
    @include media-breakpoint-iPad {
        margin-left: 10px;
    }
}

.link-icon:first-child {
    margin-left: 0;
}

.span--yellow {
    color: #D4C17F;
}

.footer__icon {
    height: 100%;
    @include media-breakpoint-mobile-Plus {
        height: 80%;
    }
    @include media-breakpoint-mobile {
        height: 70%;
    }
}