.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    @include media-breakpoint-iPad {
        padding-top: 20px;
    }
}

.logo {
    display: grid;
    align-items: center;
    gap: 15px;
    @include media-breakpoint-iPad {
        gap: 10px;
        z-index: 5;
    }
}

.logo__caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: (14 / 12);
    letter-spacing: 0.12em;
}

.nav__list {
    display: flex;
    align-items: center;
    @include media-breakpoint-iPad {
        display: block;
        text-align: right;
    }
}

.nav__item {
    margin-left: 40px;
    @include media-breakpoint-iPad-Pro {
        margin-left: 15px;
    }
    @include media-breakpoint-iPad {
        margin-left: 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }
}

.nav__link {
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: 0.05em;
    @include media-breakpoint-iPad-Pro {
        margin-left: 20px;
        font-size: 1.3rem;
    }
    @include media-breakpoint-iPad {
        font-size: 2rem;
    }
}

.nav__link:hover {
    text-decoration: underline;
    @include media-breakpoint-iPad-Pro {
        text-decoration: none;
    }
}

.header__burger {
    display: none;
    @include media-breakpoint-iPad {
        display: block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        z-index: 4;
    }
}
.header__burger span,
.header__burger::after,
.header__burger::before {
    @include media-breakpoint-iPad {
        content: '';
        background-color: white;
        width: 100%;
        position: absolute;
        height: 2px;
        left: 0;
        transition: 0.3s all linear;
    }
}

.header__burger::before {
    @include media-breakpoint-iPad {
        top: 0;
    }
}

.header__burger::after {
    @include media-breakpoint-iPad {
        bottom: 0;
    }
}

.header__burger span {
    @include media-breakpoint-iPad {
        top: 9px;
    }
}

.header__burger.action span {
    @include media-breakpoint-iPad {
        transform: scale(0);
    }
}

.nav {
    @include media-breakpoint-iPad {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 4;
        padding: 90px 0 0 0;
        transition: 0.3s all linear;
    }
}

.nav.action {
    @include media-breakpoint-iPad {
        right: 0;
    }
}

.header__burger.action::before {
    @include media-breakpoint-iPad {
        transform: rotate(45deg);
        top: 9px;
    }
}

.header__burger.action::after {
    @include media-breakpoint-iPad {
        transform: rotate(-45deg);
        bottom: 9px;
    }
}