.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    @include media-breakpoint-iPad {
        padding-top: 20px;
    }
}

.logo {
    display: grid;
    align-items: center;
    gap: 15px;
    @include media-breakpoint-iPad {
        gap: 10px;
    }
}

.logo__caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: (14 / 12);
    letter-spacing: 0.12em;
}

.nav__list {
    display: flex;
    align-items: center;
    @include media-breakpoint-iPad {
        display: none;
    }
}

.nav__item {
    margin-left: 40px;
    @include media-breakpoint-iPad-Pro {
        margin-left: 15px;
    }
}

.nav__link {
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: 0.05em;
    @include media-breakpoint-iPad-Pro {
        margin-left: 20px;
        font-size: 1.3rem;
    }
}

.nav__link:hover {
    text-decoration: underline;
    @include media-breakpoint-iPad-Pro {
        text-decoration: none;
    }
}