.conditions {
    padding: 120px 0;
    background-image: url(../image/II.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 70px right 258px;
    @include media-breakpoint-iPad-Pro {
        padding: 50px 0;
    }
    @include media-breakpoint-iPad {
        padding: 30px 0;
    }
    @include media-breakpoint-mobile-Plus {
        background-position: top 70px right 150px;
        background-size: 60%;
        padding: 20px 0;
    }
}

.conditions__list {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 193px 1fr 1fr 1fr;
    gap: 70px;
    @include media-breakpoint-iPad-Pro {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
    }
    @include media-breakpoint-iPad {
        gap: 30px;
    }
    @include media-breakpoint-mobile-Plus {
        width: 90%;
    }
}

.conditions__item {
    text-align: center;

    transform: translate(0px, 120%);
    transition: all 0.4s ease 0s;
    opacity: 0;
}

.conditions__list._active li {
    transform: translate(0px, 0px);
    opacity: 1;
}

.conditions__list._active li:nth-child(1) {
    transition: all 0.4s ease 0.2s;
}

.conditions__list._active li:nth-child(2) {
    transition: all 0.4s ease 0.4s;
}

.conditions__list._active li:nth-child(3) {
    transition: all 0.4s ease 0.6s;
}

.conditions__list._active li:nth-child(4) {
    transition: all 0.4s ease 0.8s;
}

.conditions__img {
    height: 80px;
    margin-bottom: 52px;
    @include media-breakpoint-iPad-Pro {
        margin-bottom: 30px;
    }
    @include media-breakpoint-iPad {
        margin-bottom: 15px;
        height: 60px;
    }
}

.conditions__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 2rem;
    line-height: (27 / 20);
    @include media-breakpoint-iPad-Pro {
        font-size: 1.8rem;
    }
    @include media-breakpoint-iPad {
        font-size: 1.4rem;
    }
    @include media-breakpoint-mobile-Plus {
        font-size: 1.3rem;
    }
}