.flats {
    background-image: url(../image/III.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 80px left 180px;
}

.flats__title--margin {
    margin-bottom: 100px;
}

.flats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.flats__item {
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%); 
    position: relative;
}

.flats__img {
    width: auto;
}

.flats__text {
    position: absolute;
    font-size: 2.4rem;
    line-height: (28 / 24);
    bottom: 50px;
    left: 50px;
}
