.footer {
    padding: 60px 0;
    background-color: #2D343C;
}

.footer__list {
    display: grid;
    grid-template-columns: 135px 119px 119px 239px;
    gap: 166px;
}

.footer__item {
    transform: translate(0px, 40%);
    transition: all 0.6s ease 0s;
    opacity: 0;
}

.footer__item._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.footer__item._active:nth-child(1) {
    transition: all 0.6s ease 0.2s;
}

.footer__item._active:nth-child(2) {
    transition: all 0.6s ease 0.4s;
}

.footer__item._active:nth-child(3) {
    transition: all 0.6s ease 0.6s;
}

.footer__item._active:nth-child(4) {
    transition: all 0.6s ease 0.8s;
}

.list {
    display: grid;
    gap: 15px;
}

.link {
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: 0.05em;
    transition: 0.1s;
}

.link:hover {
    text-decoration: underline;
}

.link-icon {
    margin-left: 20px;
}

.link-icon:first-child {
    margin-left: 0;
}

.span--yellow {
    color: #D4C17F;
}