.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.logo__caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: (14 / 12);
    letter-spacing: 0.12em;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 40px;
}

.nav__link {
    font-size: 1.4rem;
    line-height: (16 / 14);
    letter-spacing: 0.05em;
}

.nav__link:hover {
    text-decoration: underline;
}