.map {
    padding-bottom: 180px;
    background-image: url(../image/V.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 86px left 266px;
}

.map__title--margin {
    margin-bottom: 100px;
}

