.video {
    padding-bottom: 180px;
    background-image: url(../image/IV.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 171px right 200px;
}

.video__wrapper-img {
    text-align: center;
}

// .video__img {
//     width: auto;
// }